<div class="ptf-label">
  <div class="ptf-notify">
    <label>PTF<span class="rt">®</span></label>
  </div>
  <div class="ptf-fare">
    <label class="upper">Transit Pass for San Juan Islands</label>
  </div>
  <label class="ptf-callout">Just $ 99 /- per day</label>
</div>
<div class="ptf-details">
  <label><i class="material-icons pos-abs-0">card_travel</i>Unlimited trips throughout the day</label>
  <label><i class="material-icons pos-abs-0">airline_seat_recline_extra</i>Reserved Seats for you</label>
  <label><i class="material-icons pos-abs-0" data-color="flight">airplanemode_active</i> <i class="material-icons pos-abs-1"
      data-color="train">train</i><i class="material-icons pos-abs-2" data-color="boat">directions_boat</i>Across multiple
    transporation modes</label>
  <p>Please contact the transport helpdesk to buy a PTF pass and know more about it</p>
</div>
<div class="weather-time-box">
  <span class="weather" [innerHTML]="currentWeather"></span>
  <span class="time">{{time | date: 'hh:mm a'}}</span>
</div>