@import '../../styles.scss';

:host {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  // background: #1c2536;
  padding: 30px 0 30px 30px;
}

.weather-time-box {
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.10);
  margin-left: auto;
  color: $light-text-color;

  .weather {
    display: block;
  }

  .time {
    display: block;
    font-weight: 300;
    font-size: 30px;
    opacity: 0.80;
    // text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.ptf-details {
  display: inline-block;
  width: calc(66% - 300px);
  padding: 0 30px;
  vertical-align: small;
  margin-left: 100px;
  color: $light-text-color;

  i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 18px;
    position: absolute;
    background-color: #24354b;
    z-index: 2;
    top: 3px;
    // color: #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);

    &[data-color="flight"] {
      color: rgba(255, 255, 255, 0.5);
      // color: #000;
    }

    &[data-color="train"] {
      color: rgba(255, 255, 255, 0.5);
      // color: #000;
    }

    &[data-color="boat"] {
      color: rgba(255, 255, 255, 0.5);
      // color: #000;

    }

    &.pos-abs-0 {
      left: -40px;
      z-index: 4;
    }

    &.pos-abs-1 {
      left: -66px;
      z-index: 3;
    }

    &.pos-abs-2 {
      left: -92px;
      z-index: 2;
    }
  }

  label {
    width: 100%;
    display: block;
    font-size: medium;
    font-weight: 300;
    height: 36px;
    line-height: 36px;
    margin: 0;
    position: relative;
    margin-right: 100px;
    text-align: left;
    z-index: 3;

    &:after {
      content: '';
      position: absolute;
      top: 18px;
      left: -15px;
      height: 1px;
      width: 116px;
      border-top: 1px dashed #24354b;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      z-index: 1;
    }

    // text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
  }

  p {
    font-weight: 300;
    text-align: left;
    font-size: small;
    // color: rgba(#000, 0.75);
    color: $light-text-color;
    margin-top: 10px;
  }
}

.ptf-label {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 15px;
  justify-content: center;
  align-items: center;
  // background-image: linear-gradient(to bottom, #24354b, lighten(#24354b, 5));
  border: 2px solid #24354b;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
  min-width: 33%;

  .ptf-callout {
    position: absolute;
    top: -15px;
    height: 36px;
    padding: 10px 14px;
    background: #24354b;
    color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: small;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  }
}

.ptf-notify {
  // color: $accent;
  color: rgba(255, 255, 255, 0.9);
  font-size: 80px;
  font-weight: 300;
  display: inline-block;
  // text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  order: 1;
  text-align: left;

  label {
    text-transform: lowercase;
    // color:$accent;
    color: $light-text-color2;
    font-family: 'Comfortaa';
    text-align: left;
    position: relative;
  }

  i {
    vertical-align: top;
    position: absolute;
    top: 18px;
    right: -36px;
    // color: $accent;
    color: $light-text-color2;
  }

  span.rt {
    vertical-align: top;
    position: absolute;
    top: 4px;
    right: -30px;
    // color: $accent;
    color: $light-text-color2;
    font-size: large;
    opacity: 0.50;
  }
}

.ptf-fare {
  padding: 0;
  text-align: left;
  width: 100%;
  order: 2;
  padding-top: 15px;
  text-align: center;

  label {
    display: inline-block;
    // color: $accent;
    color: $light-text-color;
    ;
    text-align: left;

    &.upper {
      font-size: small;
      font-weight: 300;
      // color: rgba($accent, 0.90);
      color: $light-text-color;
      ;
      display: inline;
      text-align: left;
      margin-right: 2px;
      font-weight: 300;
    }

    &.lower {
      display: inline;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 24px;
      // color: rgba($accent, 0.90);
      color: $light-text-color;
      ;
      text-align: left;
    }
  }
}