<div class="new-box-mode option-box" [class.standalone]="island.standalone" [class.diminish]="somethingHighlighted"
  [class.highlighted]="highlighted">
  <div class="option-box-wrapper">
    <label class="box-title"><label class="option-destination">{{island.destination}}</label> <label *ngIf="!highlighted"
        [class.muted]="somethingHighlighted" #status class="status option-status" [attr.data-status]="island.status">{{island.status}}</label></label>
    <div class="clearfix"></div>
    <app-transport-bar-new [hidden]="somethingHighlighted || highlighted" [island]="island"></app-transport-bar-new>
    <div class="app-detailed-view" [hidden]="!highlighted" [class.show]="highlighted" [class.up]="direction === 'UP'"
      [class.down]="direction === 'DOWN'">
      <div class="container">
        <app-transport-bar-detailed *ngIf="highlighted" [island]="island"></app-transport-bar-detailed>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>