@import '../../styles.scss';

:host {
  width: 100%;
  height: 100%;
}

.box-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  flex-flow: column;

  .box-upper {
    height: 250px;
    flex: initial;
    order: 2;
    margin-right: -30px;
    padding-top: 15px;
    background: #f9f9f9;
    padding: 0 30px 0 30px;

    .box {
      float: left;
      width: 50%;

      .box-mode {
        width: calc(100% - 30px);
        padding-left: 0;
        padding-right: 10px;
        display: flex;
        align-items: center;

        &.train {
          .mode-type {
            line-height: 48px;
            height: 48px;
            font-size: 18px;
            width: 36px;
          }

          .depTime {
            font-size: 12px;
            line-height: 48px;
            height: 48px;
            width: 70px;
            padding-left: 5px;
          }

          .gate {
            font-size: 12px;
            line-height: 48px;
            height: 48px;
          }

          .id {
            font-size: 12px;
            line-height: 48px;
            height: 48px;
          }

        }
      }

      .status {
        margin-left: auto;
        font-size: x-12px;
        letter-spacing: 1px;
        border-radius: 6px;
        font-weight: 500;
        position: relative;
        line-height: 48px;
        height: 48px;
        margin-right: 24px;

        &[data-status="ONTIME"] {
          border-color: #27ae60;
          color: #27ae60;
          background: transparent;

          &:after {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            content: " ";
            top: 17px;
            right: -21px;
            background: #27ae60;
          }
        }

        &[data-status="DELAYED"] {
          border-color: #c0392b;
          color: #c0392b;
          background: transparent;

          &:after {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            content: " ";
            top: 17px;
            right: -21px;
            background: #c0392b;
          }
        }
      }
    }
  }

  .box-lower {
    flex: 1;
    order: 1;
    padding: 0px 30px 0 30px;

    .status {
      margin-left: auto;
      height: 48px;
      line-height: 48px;
      background: transparent;
      letter-spacing: 1px;
      font-size: x-12px;
      text-align: center;
      position: relative;
      margin-right: 25px;
    }
  }

  .box {
    padding: 0;
    margin-bottom: 5px;

    .box-title {
      line-height: 48px;
      height: 48px;
      font-size: large;
      font-weight: 300;
      width: 100%;
      float: left;
    }

    .box-mode {
      width: 50%;
      background: #fff;
      margin-bottom: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
      padding: 0 20px 0 10px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      float: left;

      .destinatiopn {
        width: 100px;
        line-height: 48px;
        height: 48px;
        font-size: x-12px;
        font-weight: 300;
        padding-left: 5px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
      }

      .mode-type {
        line-height: 48px;
        height: 48px;
        font-size: 15px;
        width: 24px;
        text-align: center;

        &[data-color="flight"] {
          color: $flight;
        }

        &[data-color="train"] {
          color: $train;
        }

        &[data-color="boat"] {
          color: $boat;
        }
      }

      .depTime {
        width: 100px;
        line-height: 48px;
        height: 48px;
        font-size: x-12px;
        font-weight: 300;
        padding-left: 5px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
      }

      .id {
        width: 100px;
        line-height: 48px;
        height: 48px;
        font-size: x-12px;
        font-weight: 300;
        padding-left: 10px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
      }

      .gate {
        width: 36px;
        line-height: 48px;
        height: 48px;
        font-size: x-12px;
        font-weight: 300;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
      }

      &.island {
        padding-right: 10px;

        .status {

          &[data-status="ONTIME"] {
            border-color: #27ae60;
            color: #27ae60;
            background: transparent;

            &:after {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              position: absolute;
              content: " ";
              top: 17px;
              right: -21px;
              background: #27ae60;
            }
          }

          &[data-status="DELAYED"] {
            border-color: #c0392b;
            color: #c0392b;
            background: transparent;

            &:after {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              position: absolute;
              content: " ";
              top: 17px;
              right: -21px;
              background: #c0392b;
            }
          }
        }
      }
    }
  }
}

.new-box-mode {
  width: 100%;
  float: left;
  margin-bottom: 10px;

  &.connection {
    .mode {
      width: calc(50% - 10px);
    }
  }

  .mode {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
    width: 100%;
    float: left;
    padding: 10px 10px 0 10px;
    border-left: 2px solid transparent;

    &[data-mode="boat"] {
      border-left-color: $boat;
    }

    &[data-mode="train"] {
      border-left-color: $train;
    }

    &[data-mode="flight"] {
      border-left-color: $flight;
    }

    &.mode-a {
      margin-right: 10px;
      position: relative;
      &:after {
        position: absolute;
        top: 43px;
        right: 0;
        width: 20px;
        border-top: 1px solid rgba(0,0,0,0.33);
        content: "";
        margin-right: -20px;
      }
    }

    &.mode-b {
      margin-left: 10px;
    }

    &.mode-b {
      padding-left: 10px;
      border-right: 1px dashed rgba(0, 0, 0, 0.0);
    }

    .places {
      width: 100%;
      line-height: 36px;
      height: 36px;

      label {
        width: 50%;
        float: left;

        &:not(.time) {
          line-height: 20px;
          height: 20px;
          font-size: 12px;
          font-weight: 400;
        }

        &.time {
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          font-weight: 300
        }

        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }
      }
    }

    .mode-info {
      width: 100%;
      height: 36px;

      .mode-type {
        width: 24px;
        height: 36px;
        line-height: 36px;
        font-size: medium;
        float: left;
        &[data-color="flight"] {
          color: $flight;
        }

        &[data-color="train"] {
          color: $train;
        }

        &[data-color="boat"] {
          color: $boat;
        }
      }

      .id {
        width: 60px;
        line-height: 36px;
        height: 36px;
        font-size: 12px;
        font-weight: 300;
        padding-left: 10px;
      }

      .departure-gate,
      .departure-time,
      .airline-name,
      .airline-code {
        width: 60px;
        line-height: 36px;
        height: 36px;
        font-size: 12px;
        font-weight: 300;
        float: left;
      }

      .airline-name {
        width: calc(100% - 180px);
        text-align: center;
        text-transform: uppercase;
      }

      .status {
        height: 36px;
        line-height: 36px;
        background: transparent;
        letter-spacing: 1px;
        font-size: 12px;
        text-align: center;
        position: relative;
        float: right;
        font-weight: 300;
        margin-right: 20px;

        &[data-status="ONTIME"] {
          border-color: #27ae60;
          color: #27ae60;
          background: transparent;

          &:after {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            content: " ";
            top: 12px;
            right: -21px;
            background: #27ae60;
          }
        }

        &[data-status="DELAYED"] {
          border-color: #c0392b;
          color: #c0392b;
          background: transparent;

          &:after {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            content: " ";
            top: 12px;
            right: -21px;
            background: #c0392b;
          }
        }
      }
    }
  }
}