@import '../../styles.scss';

:host {
  width: 100%;
  height: 100%;
  // font-family: 'Roboto', sans-serif;
}

.box-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  flex-flow: column;

  .box-upper {
    height: 250px;
    flex: initial;
    order: 2;
    margin-right: -30px;
    padding-top: 15px;
    padding: 0 30px 0 30px;

    .box {
      float: left;
      width: calc(50% - 30px);
      margin-right: 15px;

      &:nth-child(2n+2) {
        margin-left: 15px;
      }

      .box-mode {
        width: calc(100% - 30px);
        padding-left: 0;
        padding-right: 10px;
        display: flex;
        align-items: center;
      }


    }
  }

  .box-lower {
    flex: 1;
    order: 1;
    padding: 0px 30px 0 30px;

    // .status {
    //   margin-left: auto;
    //   height: 48px;
    //   line-height: 48px;
    //   background: transparent;
    //   letter-spacing: 1px;
    //   font-size: x-12px;
    //   text-align: center;
    //   position: relative;
    //   margin-right: 25px;
    // }
  }

  .box {
    padding: 0;
    margin-bottom: 10px;

    .box-title {
      padding: 10px 15px 5px 15px;
      // margin-bottom: 10px;
      font-size: x-large;
      font-weight: 500;
      width: 100%;
      float: left;
      color: #fff;
      letter-spacing: 1px;
    }
  }
}

.new-box-mode {
  width: 100%;
  float: left;
  margin-bottom: 17px;
  background-image: linear-gradient(to right, #414c5e, #263548);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  .status {
    // width: 80px;
    text-align: right;
    height: 18px;
    line-height: 18px;
    background: transparent;
    letter-spacing: 1px;
    font-size: 12px;
    position: relative;
    float: right;
    font-weight: 300;
    margin-right: 0px;
    padding: 0 5px;
    // opacity: 0.80;
    border-radius: 4px;
    top: 2px;

    &[data-status="ONTIME"] {
      border-color: #27ae60;
      color: #27ae60;
      background: transparent;
      padding-right: 0;

      // &:after {
      //   width: 12px;
      //   height: 12px;
      //   border-radius: 50%;
      //   position: absolute;
      //   content: " ";
      //   top: 4px;
      //   right: -21px;
      //   background: #27ae60;
      // }
    }

    &[data-status="DELAYED"] {
      border-color: #e74c3c;
      color: #fff;
      background: #e74c3c;
      opacity: 0.90;

      // &:after {
      //   width: 12px;
      //   height: 12px;
      //   border-radius: 50%;
      //   position: absolute;
      //   content: " ";
      //   top: 4px;
      //   right: -21px;
      //   background: #e74c3c;
      // }
    }
  }

  &.connection {
    position: relative;

    .mode {
      width: 50%;
    }

    &:after {
      left: 50%;
      border-left: 1px dashed #000;
      width: 1px;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
    }
  }


  .mode {
    background: #fff;
    width: 100%;
    float: left;
    padding: 0px 15px 10px 15px;
    border-left-color: #fff;
    background: transparent;
    // border-left: 2px solid transparent;

    &[data-mode="boat"] {
      // border-left-color: $boat;
    }

    &[data-mode="train"] {
      // border-left-color: $train;
    }

    &[data-mode="flight"] {
      // border-left-color: $flight;
    }

    &.standalone {
      // background-image: linear-gradient(to right, #414c5e, #263548);
    }

    &.mode-a {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      // margin-right: 15px;
      position: relative;
      // background-image: linear-gradient(to right, #414c5e, #334053);

      // &:after {
      //   position: absolute;
      //   top: 43px;
      //   right: 0;
      //   width: 30px;
      //   border-top: 1px solid rgba(0, 0, 0, 0.10);
      //   content: "";
      //   margin-right: -30px;
      //   z-index: 1;
      // }

      // &:before {
      //   content: "+";
      //   width: 15px;
      //   height: 15px;
      //   border-radius: 50%;
      //   color: $light_accent;
      //   // background: #e0e0e0;
      //   position: absolute;
      //   margin-right: -10px;
      //   top: 36px;
      //   right: -13px;
      //   line-height: 15px;
      //   text-align: center;
      //   z-index: 2;
      // }
    }

    &.mode-b {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      // margin-left: 15px;
      // border-left: 1px dashed #000;
      // background-image: linear-gradient(to right, #334053, #263548);
    }

    &.mode-b {
      padding-left: 10px;
      border-right: 1px solid #1c2536;
    }

    .destination-name {
      text-transform: capitalize;
    }

    .places {
      width: 100%;
      line-height: 36px;
      height: 36px;
      position: relative;

      label {
        width: 80px;
        float: left;
        color: $light_accent2;

        &:not(.time) {
          line-height: 20px;
          height: 20px;
          font-size: small;
          font-weight: 300;
        }

        &.time {
          height: 24px;
          line-height: 24px;
          font-size: large;
          font-weight: 300;

          &.left {
            color: #fff;
          }
        }

        &.left {
          width: 100%;
          text-align: left;
        }

        &.right {
          width: 100%;
          text-align: right;
        }
      }

      .mode-marker {
        width: 100%;
        // float: left;
        height: 100%;
        position: absolute;
        top: 10px;
        // left: 50%;
        display: block;

        .line {
          position: absolute;
          width: 40%;
          height: 1px;
          top: 50%;
          left: 30%;
          z-index: 1;
          border-top: 1px dashed transparent;

          &[data-color="flight"] {
            border-top-color: rgba($flight, 0.20);
          }

          &[data-color="train"] {
            border-top-color: rgba($train, 0.20);
            color: $train;
          }

          &[data-color="boat"] {
            border-top-color: rgba($boat, 0.20);
            color: $boat;
          }
        }

        .mode-type {
          width: 36px;
          height: 36px;
          line-height: 36px;
          font-size: large;
          display: block;
          margin: 0 auto;
          z-index: 1;
          position: relative;
          text-align: center;

          &[data-color="flight"] {
            color: $flight;
            transform: rotate(90deg);
            transform-origin: center center;
            top: 1px;
          }

          &[data-color="train"] {
            color: $train;
          }

          &[data-color="boat"] {
            color: $boat;
          }
        }
      }

      .left {
        width: 50%;
        float: left;
      }

      .right {
        width: 50%;
        float: left;
        color: $light_accent2;
      }
    }

    .mode-info {
      width: 100%;
      height: 20px;

      .mode-type {
        width: 24px;
        height: 20px;
        line-height: 20px;
        font-size: medium;
        float: left;

        &[data-color="flight"] {
          color: $flight;
        }

        &[data-color="train"] {
          color: $train;
        }

        &[data-color="boat"] {
          color: $boat;
        }
      }

      .id {
        width: 60px;
        line-height: 20px;
        height: 20px;
        font-size: 12px;
        font-weight: 300;
        padding-left: 10px;
      }

      .departure-gate,
      .departure-time,
      .airline-name,
      .airline-code {
        width: 60px;
        line-height: 20px;
        height: 20px;
        font-size: 12px;
        font-weight: 300;
        float: left;
        color: $light_accent2;
        text-transform: capitalize;
      }

      .airline-name {
        // width: calc(100% - 180px);
        width: 100%;
        text-align: center;
        // text-transform: uppercase;
      }

      .departure-gate {
        width: 80px;
        float: right !important;
        display: none;
      }
    }
  }
}

.boat {
  height: 36px;
  width: 36px;
  -webkit-mask-image: url(../../assets/noun_Boat_1729202.png);
  mask-image: url(../../assets/noun_Boat_1729202.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: $light_accent2;
  mask-position: center;
}

.plane {
  height: 36px;
  width: 36px;
  -webkit-mask-image: url(../../assets/noun_Plane_539326.png);
  mask-image: url(../../assets/noun_Plane_539326.png);
  mask-size: 22px;
  mask-repeat: no-repeat;
  background-color: $light_accent2;
  mask-position: center;
}

.train {
  height: 36px;
  width: 36px;
  -webkit-mask-image: url(../../assets/noun_Train_130288.png);
  mask-image: url(../../assets/noun_Train_130288.png);
  mask-size: 22px;
  mask-repeat: no-repeat;
  background-color: $light_accent2;
  mask-position: center 5px;
}