<div class="box-wrapper">
  <div class="box-upper">
    <!-- <div class="box" *ngFor="let harbour of harbourOptions">
      <label class="box-title">{{harbour.destination}}</label>
      <div class="new-box-mode w50">
        <div class="mode standalone" data-mode="train">
          <div class="places">
            <div class="left">
              <label class="left destination-name">Atlantis Hub</label>
              <label class="left time">{{depTime | date: 'shortTime'}}</label>
            </div>
            <div class="mode-marker">
              <div class="line" data-color="train"></div>
              <i class="material-icons mode-type" data-color="train">train</i>
            </div>
            <div class="right">
              <label class="right destination-name">Friday Harbour</label>
              <label class="right time">{{depTime | date: 'shortTime'}}</label>
            </div>
          </div>
          <div class="mode-info">
            <label class="departure-gate">Platform 01</label>
            <label class="status" data-status="ONTIME">ONTIME</label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="new-box-mode w50">
        <div class="mode standalone " data-mode="train">
          <div class="places">
            <div class="left">
              <label class="left destination-name">Atlantis Hub</label>
              <label class="left time">{{depTime | date: 'shortTime'}}</label>
            </div>
            <div class="mode-marker">
              <div class="line" data-color="train"></div>
              <i class="material-icons mode-type" data-color="train">train</i>
            </div>
            <div class="right">
              <label class="right destination-name">Friday Harbour</label>
              <label class="right time">{{depTime | date: 'shortTime'}}</label>
            </div>
          </div>
          <div class="mode-info">
            <label class="departure-gate">Gate A</label>
            <label class="status" data-status="ONTIME">ONTIME</label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div> -->
  </div>
  <div class="box-lower">
    <div class="box" *ngFor="let island of islandOtions">
      <div class="new-box-mode" [class.connection]="island.connection" [class.standalone]="island.standalone">
        <label class="box-title">{{island.destination}} <label class="status" [attr.data-status]="island.status">{{island.status}}</label></label>
        <ng-container *ngIf="island.connection">
          <div class="mode" data-mode="train" *ngFor="let mode of island.modes; let  i = index;" [attr.data-mode]="mode.mode"
            [class.mode-a]="i === 0" [class.mode-b]="i === 1">
            <div class="places">
              <div class="left">
                <label class="left destination-name">{{mode.departureFrom}}</label>
                <label class="left time">{{mode.departureTime | date: 'shortTime'}}</label>
              </div>
              <div class="mode-marker">
                <div class="line" [attr.data-color]="mode.mode"></div>
                <div class="mode-type boat" *ngIf="mode.mode === 'boat'"></div>
                <div class="mode-type plane" *ngIf="mode.mode === 'flight'"></div>
                <div class="mode-type train" *ngIf="mode.mode === 'train'"></div>
                <!-- <i class="material-icons mode-type" [attr.data-color]="mode.mode">{{mode.modeIcon}}</i> -->
              </div>
              <div class="right">
                <label class="right destination-name">{{mode.arrivalAt}}</label>
                <label class="right time">{{mode.arrivalTime | date: 'shortTime'}}</label>
              </div>
            </div>
            <div class="mode-info">
              <!-- <label class="status" [attr.data-status]="mode.status">{{mode.status}}</label> -->
              <label class="departure-gate">{{mode.meta}}</label>
            </div>
          </div>
        </ng-container>
        <div class="mode standalone" [attr.data-mode]="island.standaloneMode.mode" *ngIf="island.standalone">
          <div class="places">
            <div class="left">
              <label class="left destination-name">{{island.standaloneMode.departureFrom}}</label>
              <label class="left time">{{island.standaloneMode.departureTime | date: 'shortTime'}}</label>
            </div>
            <div class="mode-marker">
              <div class="line" data-color="boat"></div>
              <div class="mode-type boat" *ngIf="island.standaloneMode.mode === 'boat'"></div>
              <div class="mode-type plane" *ngIf="island.standaloneMode.mode === 'flight'"></div>
              <div class="mode-type train" *ngIf="island.standaloneMode.mode === 'train'"></div>
              <!-- <i class="material-icons mode-type" [attr.data-color]="island.standaloneMode.mode">{{island.standaloneMode.modeIcon}}</i> -->
            </div>
            <div class="right">
              <label class="right destination-name">{{island.standaloneMode.arrivalAt}}</label>
              <label class="right time">{{island.standaloneMode.arrivalTime | date: 'shortTime'}}</label>
            </div>
          </div>
          <div class="mode-info">
            <!-- <label class="status" [attr.data-status]="island.standaloneMode.status">{{island.standaloneMode.status}}</label> -->
            <label class="airline-name">{{island.standaloneMode.id}}</label>
            <label class="departure-gate">{{island.standaloneMode.meta}}</label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- <div class="new-box-mode">
        <label class="box-title">{{island.destination}}</label>
        <div class="mode standalone" data-mode="flight">
          <div class="places">
            <div class="left">
              <label class="left destination-name">Atlantis Hub</label>
              <label class="left time">{{depTime | date: 'shortTime'}}</label>
            </div>
            <div class="mode-marker">
              <div class="line" data-color="boat"></div>
              <i class="material-icons mode-type" data-color="flight">airplanemode_active</i>
            </div>
            <div class="right">
              <label class="right destination-name">Stuart Island</label>
              <label class="right time">{{depTime | date: 'shortTime'}}</label>
            </div>
          </div>
          <div class="mode-info">
            <label class="departure-gate">Gate A</label>
            <label class="airline-name">Spirit - SP101</label>
            <label class="status" data-status="ONTIME">ONTIME</label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div> -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>