@import '../styles.scss';

.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-flow: row;
  background: #1c2536;

  .display-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;

    .display-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 200vw;
      height: 200vh;
      background-image: radial-gradient(circle at center,  black, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
      z-index: 1;
      animation: move-around 10s linear infinite 0s;
      transform-origin: center center; 
    }

    .display-left {
      flex: 1;
      order: 1;
      height: 100%;
      position: relative;
      z-index: 2;
      // opacity: 0;

      .display-left-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .display-left-top {
        order: 2;
        height: 230px;
        flex: initial;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-flow: row;
      }

      .display-left-bottom {
        order: 1;
        flex: 1;
        overflow: hidden;
        padding: 30px 0px 0px 30px;
        // background: #1c2536;

        #map {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 10px; 
          background-image: url(../assets/bg.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #24354b;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
          opacity: 0.75;
        }
      }
    }

    .display-right {
      width: 600px;
      flex: initial;
      order: 2;
      height: 100%;
      padding: 30px 0 0 0;
      position: relative;
      z-index: 2;
      // opacity: 0;
    }
  }
}


.marker {
  display: block;
  &.hub {
    label {
      background-color: $accent2;
      color: #fff;
      padding: 4px;
      border-radius: 4px;
    }
  }

  &.harbour {
    label {
      font-size: x-small;
      color: #fff;
    }
  }

  .img {
    border: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    -webkit-mask-image: url(../assets/baseline_location_on_black_48dp.png);
    mask-image: url(../assets/baseline_location_on_black_48dp.png);
    mask-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    display: block;
    margin: 0 auto;
  }

  .img-holder {
    display: block;
    width: 36px;
    height: 12px;
    display: block;
    margin: 0 auto;
  }

  .flight {
    border: none;
    cursor: pointer;
    height: 12px;
    width: 12px;
    -webkit-mask-image: url(../assets/baseline_flight_black_48dp.png);
    mask-image: url(../assets/baseline_flight_black_48dp.png);
    mask-size: contain;
    mask-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
  }

  .boat {
    border: none;
    cursor: pointer;
    height: 12px;
    width: 12px;
    -webkit-mask-image: url(../assets/baseline_directions_boat_black_48dp.png);
    mask-image: url(../assets/baseline_directions_boat_black_48dp.png);
    mask-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
  }

  .train {
    border: none;
    cursor: pointer;
    height: 12px;
    width: 12px;
    -webkit-mask-image: url(../assets/baseline_train_black_48dp.png);
    mask-image: url(../assets/baseline_train_black_48dp.png);
    mask-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
  }
}

.mapboxgl-popup {
  padding-bottom: 50px;
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in;
     -moz-transition:stroke-dashoffset 5s ease-in;
       -o-transition:stroke-dashoffset 5s ease-in;
          transition:stroke-dashoffset 5s ease-in;
  }

  @keyframes move-around {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(0) translateY(-100vh);
    }
    50% {
      transform: translateX(-100vw) translateY(-100vh);
    }
    75% {
      transform: translateX(-100vw) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }