<div class="content">
  <div class="display-wrapper">
    <div class="display-overlay"></div>
    <div class="static-overlay">
        <app-map></app-map>
    </div>
    <div class="display-left">
      <div class="display-left-wrapper">
        <div class="display-left-top">
          <app-header-a></app-header-a>
        </div>
        <div class="display-left-bottom">
          <!-- <div id='map'></div> -->
          <div>
          </div>
        </div>
      </div>
    </div>
    <div class="display-right">
      <app-transport-bar></app-transport-bar>
    </div>
  </div>
</div>
