@import '../../../styles.scss';

.mode {
    &.option {
        display: inline-block;
        width: 33%;
        float: left;
        padding: 0px 5px 5px 15px;
        .mode-type {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            left: -3px;
            top: 0px;
            &.train {
                width: 30px;
                height: 30px;
                mask-size: 18px;
            }
            &.plane {
                width: 30px;
                height: 30px;
                mask-size: 16px;
                top: -3px;
            }
        }
    }
}
.places {
    opacity: 0.70;
}

.option-status {}

.bar-separtor {
    opacity: 0.33;
    margin: 0 5px;
}


[data-status="ONTIME"] {
    // border-color: darken(#27ae60, 5);
    color: #27ae60;
    // background: darken(#27ae60, 5);
    // padding-right: 0;
}

[data-status="DELAYED"] {
    // border-color: #e74c3c;
    color: lighten(#e74c3c, 10);
    // background: #e74c3c;
}

[data-status="ARRIVED"] {
    // border-color: #27ae60;
    color: #27ae60;
    // background: #27ae60;
}

[data-status="BOARDING"] {
    // border-color: $bg;
    color: $bg;
    // background: $bg;
}

[data-status="DEPARTED"] {
    // border-color: $bg;
    color: #70e7d1;
    background: transparent;
    padding-right: 0;
}