/* You can add global styles to this file, and also import other style files */
$bg: #ffde03;
$light: #e1f0fa;
$accent: #0336ff;
$flight: #3498db;
$train: #8e44ad;
$boat: #006266;
// $flight: #000;
// $train: #000;
// $boat: #000;
$accent2: #000;

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/deep/ .sun-rays {
//   animation: pop-scale 6s linear 0s infinite;
//   transform-origin: center;
}

@keyframes pop-scale {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}