<div class="mode-details-wrapper">
  <div class="mode-item-wrapper">
    <div class="mode option blocked" *ngFor="let option of island.options; let  i = index;">
      <div class="mode-details">
        <div class="dep-time-wrapper">{{option.time | date: 'shortTime'}}</div>
        <div class="mode-icon-wrapper">
          <div class="mode-type train" *ngIf="option?.mode === 'train'"></div>
          <div class="mode-type plane" *ngIf="option?.mode === 'flight'"></div>
        </div>
        <div class="dep-gate">
          <label class="key"><span *ngIf="option?.mode === 'flight'">GATE</span><span *ngIf="option?.mode === 'train'">PLATFORM</span></label>
          <label class="value">{{option.gate}}</label>
        </div>
        <div class="dep-connecting" *ngIf="option?.mode === 'train'">
          <label class="key">Connecting</label>
          <label class="value">Roche Harbour</label>
        </div>
        <div class="dep-connecting" *ngIf="option?.mode === 'flight'">
          <label class="key">AIRLINE</label>
          <label class="value">{{option.code}}</label>
        </div>
        <div class="dep-status">
          <label class="key">STATUS</label>
          <label class="value">{{option.status}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="mode-place-details">
    <div class="activity-item-wrapper">
      <div class="activity-item" *ngFor="let place of island.attractions" [style.minWidth]="width + '%'" [style.maxWidth]="width + '%'">
        <div class="icon-wrapper">
          <div [ngClass]="place.icon"></div>
        </div>
        <label>{{place.name}}</label>
        <p>{{place.description}}</p>
      </div>
    </div>
  </div>
</div>